@charset "UTF-8";

body {
	background-image: url("book.jpg");
	height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	font-family:cursive;
	color: white;
 	width: 800px;
  	@include make-container();
}

.row {
  	@include make-row();
}

.entry {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}

.updateBoxes {
  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    @include make-col(6);
  }
  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
}

